<div class="panel panel-default">
    <div class="panel-body">
        <div [hidden]="submitted" style="width: 400px;">
            <form id="form" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <input type="hidden" class="form-control" id="id" required [(ngModel)]="passenger.id" name="id">
                    <input type="hidden" class="form-control" id="date" required
                        [(ngModel)]="passenger.registryCreationDate" name="date">
                </div>

                <div class="form-group">
                    <label for="model">Nome do Passageiro</label>
                    <input type="text" class="form-control" id="name" required [(ngModel)]="passenger.name"
                        name="name">
                    <span class="badge badge-warning message">Campo Obrigtório.</span>
                </div>

                <div class="form-group">
                    <label for="passengers">Código da Aeronave (ID)</label>
                    <input type="number" class="form-control" id="airplaneID" required [(ngModel)]="passenger.airplaneID"
                        name="airplaneID">
                    <span class="badge badge-warning message">Campo Obrigtório.</span>
                </div>

                <button id="createBtn" type="button" class="btn btn-success">Cadastrar</button>
                <button id="hiddenBtn" type="submit"></button>
            </form>
            <hr />
        </div>
    </div>
</div>

<div [hidden]="!submitted">
    <h3><span class="badge badge-success">Sucesso!</span></h3>
</div>